body {
  margin: auto 0px;
}
.header {
  text-align: center;
}

button {
	width: 180px;
	height: 80px;
	text-align: center;
	background-color: #FF6B6B;
	border: 3px solid #fff;
	color: #fff;
	font-size: 26px;
}

.panel {
  float: left;
  width: 500px;
}

.btn-panel {
  text-align: center;
}

.btn-panel > div {
  margin-bottom: 15px;
}

.current-output {
  margin-top: 0px;
}

.log-header {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 200%;
}

#logOutput {
	min-height: 90px;
  border: 1px solid #AAA;
  width: 500px;
  height: 285px;
  text-align: left;
  margin: 0px auto;
}

.log-entry {
  margin: 0px;
  padding: 0px;
}

