<!--
Names: Craig Bryan
       Kat Drobnjakovic

Course Code: SEG 4145
Lab Number: 5
File name: index.html
Date: April 9, 2015

Description:
The html tempalte for the web app. Renders the graphical user interface and implements AJAX requests.
--> 
<!DOCTYPE html>
<html>
<head>
	
	<title>Ms. Roboto</title>	
	<!-- Import custom style sheet -->
	<link rel="stylesheet" type="text/css" href="static/roboto_style.css">
	<!-- Import jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	
</head>
<body>
	<div class="header">
		<h1>Hello Ms. Roboto!</h1>
	</div>

	<div class="panel btn-panel">
		<div>
			<button id="forwardBtn" value="forward">Forward</button>
		</div>
		<div>
			<button id="leftBtn" value="left">Left</button>
			<button id="rightBtn" value="right">Right</button>
		</div>
		<div>
			<button id="backBtn" value="backward">Backward</button>
		</div>
		<div>
			<button id="distanceBtn" value="distance">Distance</button>
			<button id="tempBtn" value="temperature">Temperature</button>
		</div>
	</div>
	<div class="panel">
		<p class="log-header">Log</p>
		<div id="logOutput">
		</div>
	</div>
</body>

<script>
/************************************************************************
*
* Name
* *************
* handle
*
* Description
* *************
* Takes the incoming command string and sends an AJAX request to the 
* Python Flask server.
*
* Parameters
* *************
* command - the incoming command string
*
* Returns
* *************
* Void
*
*
*************************************************************************/ 
function handle(command) {
	$.ajax({
      type:'get',
      url:command,
      success: function(data) {
      	console.log(data);
      }
    });
}

//When the robot commands are clicked call the handle function with 
//the appropriate command
$("#forwardBtn").on("click", function(){handle("forward");}); 
$("#backBtn").on("click", function(){handle("backward");}); 
$("#leftBtn").on("click", function(){handle("left");}); 
$("#rightBtn").on("click", function(){handle("right");}); 
$("#distanceBtn").on("click", function(){handle("distance");}); 
$("#tempBtn").on("click", function(){handle("temperature");}); 

/************************************************************************
*
* Name
* *************
* printLog
*
* Description
* *************
* Gets the output log via an AJAX requests and prints it as a div entry
* to the front end view. 
*
* Parameters
* *************
* None
*
* Returns
* *************
* Void
*
*
*************************************************************************/ 
function printLog() {
	$.ajax ({
		type:'get',
		url:'printlog',
		success: function(data) {
			if (typeof data !== 'undefined') {	
				console.log(data);
				$('#logOutput').prepend("<div class='log-entry'>" + data + "</div>");
			}
		}
	});
}

//execute printLog every 1s to display the log in the view
window.setInterval(printLog, 1000);
</script>

</html>