<!DOCTYPE html>
<html>
<head>
	
	<title>Ms. Roboto</title>	
	<!-- Import custom style sheet -->
	<link rel="stylesheet" type="text/css" href="static/roboto_style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	
</head>
<body>
	<div class="header">
		<h1>Hello Ms. Roboto!</h1>
	</div>

	<div class="panel btn-panel">
		<div>
			<button id="forwardBtn" value="forward">Forward</button>
		</div>
		<div>
			<button id="leftBtn" value="left">Left</button>
			<button id="rightBtn" value="right">Right</button>
		</div>
		<div>
			<button id="backBtn" value="backward">Backward</button>
		</div>
		<div>
			<button id="distanceBtn" value="distance">Distance</button>
			<button id="tempBtn" value="temperature">Temperature</button>
		</div>
	</div>
	<div class="panel">
		<p class="log-header">Log</p>
		<div id="logOutput">
		</div>
	</div>
</body>

<script>
function handle(command) {
	$.ajax({
      type:'get',
      url:command,
      success: function(data) {
      	console.log(data);
      }
    });
}

$("#forwardBtn").on("click", function(){handle("forward");}); 
$("#backBtn").on("click", function(){handle("backward");}); 
$("#leftBtn").on("click", function(){handle("left");}); 
$("#rightBtn").on("click", function(){handle("right");}); 
$("#distanceBtn").on("click", function(){handle("distance");}); 
$("#tempBtn").on("click", function(){handle("temperature");}); 

function printLog() {
	$.ajax ({
		type:'get',
		url:'printlog',
		success: function(data) {
			if (typeof data !== 'undefined') {	
				console.log(data);
				$('#logOutput').prepend("<div class='log-entry'>" + data + "</div>");
			}
		}
	});
}
window.setInterval(printLog, 1000);
</script>

</html>